.newsletter-container {
    background: #c41b53;
}

.newsletter {
    display: flex;
    flex-direction: column;
    padding: 35px 25px 25px;
    color: #fff;
    gap: 25px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-family: var(--ff-gilroy-regular);
}

.newsletter .content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.newsletter .content-wrapper .content {
    width: 100%;
    text-align: center;
}

.newsletter .email-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.newsletter .email-wrapper .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email input {
    flex: 3;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 1.2rem;
    height: 30px;
    font-family: var(--ff-gilroy-regular);
    padding-left: 10px;
}

.email button {
    flex: 1;
    display: inline-block;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: 700;
    height: 34px;
    width: 100%;
    padding: 1px 25px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0;
}

.newsletter-captcha {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 60%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-captcha.hidden {
    display: none;
}

.newsletter-captcha-inner {
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    position: relative;
}

.newsletter-captcha-inner h3 {
    color: black;
    font-size: 14px;
    margin-top: 30px;
}

.newsletter button[name='close'] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    margin: 0;
    padding-right: 20px;
    padding-top: 20px;
}

.newsletter .icon.icon-x-lg {
    color: black;
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) {
    .newsletter {
        flex-direction: row;
        font-size: 1.6rem;
        padding: 25px;
    }

    .newsletter .content-wrapper {
        width: 50%;
    }

    .newsletter .content-wrapper .content {
        max-width: 420px;
        text-align: left;
    }

    .newsletter .email-wrapper {
        width: 50%;
    }

    .newsletter .email-wrapper .email {
        width: 420px;
        gap: 35px;
    }
}
