.root {
    font-family: var(--ff-gilroy-regular);
    background: red;   
}

.heading {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.heading_container {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.stockStatusMessageContainer {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.item_container {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.summary_contents {
    font-family: var(--ff-gilroy-regular);
    background: red;
}
