.block.bra-finder-results {
  text-align: center;
  color: #58595b;
}

.block.bra-finder-results > div {
  border-bottom: 1px solid #58595b;
}

.block.bra-finder-results h2 {
  letter-spacing: .5rem;
  color: #595a5c;
  font-family: Zahrah, 'Zahrah Semibold 400 Fallback', serif;
  text-transform: uppercase;
  text-align: center;
}

.block.bra-finder-results h3 {
  color: #ce789f;
}

.block.bra-finder-results h2 em {
  font-size: 4rem;
  color: #ce789f;
  text-transform: none;
}

.block.bra-finder-results em.substitute-template {
  font-style: normal;
}

.block.bra-finder-results p.substitute-alt1.substitute-alt2 {
  padding: 12px;
  background: #efefef;
  display: inline-block;
  font-family: Zahrah, 'Zahrah Semibold 400 Fallback', serif;
  font-size: 25px;
}

.block.bra-finder-results p.substitute-size em {
  color: #ce789f;
  font-size: 4rem;
  font-style: italic;
  font-family: Zahrah, 'Zahrah Semibold 400 Fallback', serif;

}
