.image {
    padding-right: 20px 18px 20px 0px;
}

.imageContainer {
    padding: 20px 8px 20px 0px;
    border-bottom: 1px solid var(--highlight-background-color);
}

.price {
    padding: 25px 11px 10px 0px;
    border-bottom: 1px solid var(--highlight-background-color);
    color: var(--clr-pink);
    font-weight: 400;
    font-size: 18px;
    text-align:  right;
}

.quantity {
    padding-bottom: 15px;
}

.quantity form{
    display: inline;
    padding-bottom: 15px;
}

.productDetails {
    border-bottom: 1px solid var(--highlight-background-color);
    padding: 15px 10px 11px 10px;
}

.details {
    font-family: var(--ff-gilroy-medium);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.style {
    padding: 10px 15px 15px 0px;
}

.name {
    font-size: 18px;
    text-transform: none;
}

.actions {
    font-family: var(--ff-gilroy-regular);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.actions a {
    padding-right: 20px;
}