.root {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.item {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.item_disabled {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.errorText {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

/* TODO @TW: cannot compose */
.errorText:empty {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.imageContainer {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.imageRoot {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.image {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.style {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.details {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.name {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.price {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.quantity {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.kebab {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.sectionText {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.options {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.optionLabel {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.stockStatusMessage {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

/* TODO @TW: cannot compose */
.stockStatusMessage:empty {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.addToListButton {
    font-family: var(--ff-gilroy-regular);
    background: red;
}

.addToListButton_selected {
    font-family: var(--ff-gilroy-regular);
    background: red;
}
