.root {
    display: grid;
    grid-template-columns: auto auto auto;
}

.columnHeader {
    color: var(--clr-dark-blue);
    font-size: 14px;
    font-weight: 700;
    padding: 24px 10px 15px 10px;
    border-bottom: 1px solid var(--highlight-background-color);
}

.columnHeaderPrice {
    composes: columnHeader;
    text-align: right;
}

.errorText {
    composes: leading-normal from global;
    composes: mb-xs from global;
    composes: text-error from global;
}
