.bra-finder-quiz {
  text-align: center;
  color: #58595b;
  font-family: var(--ff-zahrah-regular);
}

.bra-finder-quiz ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: var(--ff-gilroy-regular);
}

.bra-finder-quiz h1 {
  font-family: var(--ff-zahrah-regular);
  text-transform: uppercase;
  font-size: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bra-finder-quiz h1 em {
  font-family: var(--ff-zahrah-regular);
  font-style: initial;
  font-size: 1.6em;
  text-transform: none;
  color: #ce789f;
}

.bra-finder-quiz .question > div > p {
  font-family: var(--ff-gilroy-regular);
}

.bra-finder-quiz .question h3{
  font-family: var(--ff-zahrah-bold);
}

.bra-finder-quiz .question h4 {
  color: #ce789f;
  font-family: var(--ff-zahrah-regular);
}

.bra-finder-quiz ul li:hover {
  border-color: #c41b53;
  cursor: pointer;
}

.bra-finder-quiz *:is(.question.q2, .question.q3, .question.q4) ul {
  gap: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.bra-finder-quiz .question.q4 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bra-finder-quiz *:is(.question.q2, .question.q3, .question.q4) ul li {
  flex: 1;
  border: 4px solid #fad1e0;
  transition: transform 200ms;
  background: white;
  padding: 20px;
}

.bra-finder-quiz *:is(.question.q2, .question.q3, .question.q4) ul li[aria-selected="true"] {
  border-color: #c41b53;
  transform: scale(105%);
}

.bra-finder-quiz *:is(.question.q2, .question.q3, .question.q4) li img {
  display: block;
  margin: auto;
  max-width: 166px;
}

.bra-finder-quiz .question.q1 ul li {
  border: 2px solid #fad1e0;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bra-finder-quiz .question.q1 ul li:hover {
  border-color: #c41b53;
}

.bra-finder-quiz .question.q1 ul li[aria-selected='true'] {
  color: white;
  background: #c41b53;
  border-color: #c41b53;
}

.bra-finder-quiz button {
  background: #bf4f82;
  font-family: var(--ff-zahrah-semibold);
  font-size: 2rem;
  margin: 20px;
}

.bra-finder-quiz button:disabled {
  background: #dea6c0;
}

[hidden] {
  display: none !important;
}

@media (max-width: 600px) {
  .bra-finder-quiz .question.q4 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
