/* Styles for "add" view. */
.entryForm,
.entryFormError {
    border-bottom: 1px solid var(--highlight-background-color);
}

/* TODO @TW: cannot compose */
.entryForm input {
    /* composes: border-error from global; */
    border-color: var(--clr-light-gray);
    border-radius: 0;
}

.entryForm button {
    border-style: none;
}

/* TODO @TW: cannot compose */
.entryFormError input:focus {

}

/* TODO @TW: cannot compose */
.entryFormError p {

}

.errorContainer {

}

/* Styles for "removal" view. */
.removeButton {

}
