/* below the fold CSS goes here */

/* || Gilroy Fonts */
@font-face {
    font-family: 'Gilroy ExtraBold 700';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy ExtraBold Italic 700';
    src: url('../fonts/Gilroy-ExtraBold-Italic.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Bold 700';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy SemiBold 600';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'), url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Medium 500';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy Regular 400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy Light 300';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy UltraLight 200';
    src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2'), url('../fonts/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* || Zahrah Fonts */

@font-face {
    font-family: 'Zahrah Bold 700';
    src: url('../fonts/Zahrah-Bold.woff') format('woff2'), url('../fonts/Zahrah-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zahrah Bold Italic 700';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Zahrah-Bold-Italic.woff') format('woff'), url('../fonts/Zahrah-Bold-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Zahrah Semibold 600';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Zahrah-SemiBold.woff') format('woff'), url('../fonts/Zahrah-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Zahrah Semibold Italic 600';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Zahrah-SemiBold-Italic.woff') format('woff'), url('../fonts/Zahrah-SemiBold-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Zahrah Medium 500';
    src: url('../fonts/Zahrah-Medium.woff2') format('woff2'), url('../fonts/Zahrah-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zahrah Medium Italic 500';
    src: url('../fonts/Zahrah-Medium-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zahrah Regular 400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Zahrah-Regular.woff') format('woff'), url('../fonts/Zahrah-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Zahrah Regular Italic 400';
    src: url('../fonts/Zahrah-Regular-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Regular-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zahrah Light 300';
    src: url('../fonts/Zahrah-Light.woff2') format('woff2'), url('../fonts/Zahrah-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zahrah Light Italic 300';
    src: url('../fonts/Zahrah-Light-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Mini Cart */

.minicart-panel {
    display: block;
}

.minicart-panel .panels {
    border: 1px solid var(--clr-black);
    z-index: 100;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 50%);
    padding: 0 20px 40px;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.minicart-panel.empty .cart-header {
    display: none;
}

.minicart-panel .cart-header {
    display: flex;
    height: 87px;
    align-items: center;
}

.minicart-panel .cart-header h2,
.minicart-panel .cart-header .subtotal {
    font-size: 1.5rem;
    height: 100%;
    text-transform: uppercase;
    font-family: var(--ff-gilroy-medium);
    margin: 0;
    display: flex;
    align-items: center;
}

.minicart-panel .cart-header h2 {
    border-right: 1px solid var(--clr-grey);
    padding-right: 8px;
}

.minicart-panel .cart-header .subtotal {
    color: var(--clr-dark-grey);
    padding-left: 8px;
}

.minicart-panel .cart-header .price {
    color: var(--clr-dark-pink);
    padding-left: 8px;
}

.minicart-panel .cart-header .close {
    display: none;
}

.minicart-panel .cart-list {
    max-height: 328px;
    overflow: auto;
}

.minicart-panel .cart-list>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.minicart-panel .cart-list>ul>li {
    padding: 15px 0;
    border-bottom: 1px solid var(--clr-grey);
}

.minicart-panel .cart-list .product {
    display: flex;
    gap: 5px;
}

.minicart-panel .cart-list .product .image {
    width: 105px;
}

.minicart-panel .cart-list .product .image img {
    width: 105px;
    height: auto;
}

.minicart-panel .cart-list .product .info {
    font-size: 1.4rem;
}

.minicart-panel .cart-list .product .info>a {
    font-family: var(--ff-gilroy-medium);
    font-size: 1.6rem;
}

.minicart-panel .cart-list .product .info .details {
    font-family: var(--ff-gilroy-regular);
}

.minicart-panel .cart-list .product .info .details label {
    cursor: pointer;
}

.minicart-panel .cart-list .product .info .details label::after {
    display: inline-block;
    margin-left: 3px;
    content: '';
    width: 16px;
    height: 16px;
    background: url('../../icons/chevron-left.svg') -3px center;
    background-repeat: no-repeat;
    transform: rotate(270deg);
    transition: all 0.3s ease;
}

.minicart-panel .cart-list .product .info .details ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.minicart-panel .cart-list .product .info .details ul li {
    text-transform: uppercase;
    color: var(--clr-dark-grey);
}

.minicart-panel .cart-list .product .info .details ul li>span {
    text-transform: none;
    color: var(--text-color);
}

.minicart-panel .cart-list .product .info .details input {
    display: none;
}

.minicart-panel .cart-list .product .info .details input:checked~ul {
    display: block;
}

.minicart-panel .cart-list .product .info .details input:checked~label::after {
    transform: rotate(90deg);
    background-position: 3px center;
}

.minicart-panel .cart-list .product .info .price {
    color: var(--clr-pink);
    font-family: var(--ff-gilroy-medium);
}

.minicart-panel .cart-list .product .info .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.minicart-panel .cart-list .product .actions {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: auto;
}

.minicart-panel .cart-list .product .actions button {
    width: 22px;
    height: 22px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.minicart-panel .cart-list .product .actions button:first-child {
    background-image: url('../../icons/edit.svg');
}

.minicart-panel .cart-list .product .actions button:nth-child(2) {
    background-image: url('../../icons/trash.svg');
}

.minicart-panel .cart-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.minicart-panel .cart-actions button {
    font-family: var(--ff-gilroy-bold);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 12px 20px;
    width: 100%;
    margin: 0;
}

.minicart-panel .cart-actions button:hover {
    text-decoration: underline;
}

.minicart-panel .cart-actions button:first-child {
    background: var(--clr-grey);
    color: var(--clr-pink);
}

.minicart-panel .cart-actions button:nth-child(2) {
    background: var(--clr-pink);
    color: var(--clr-white);
}

.minicart-panel .cart-empty {
    font-size: var(--ff-gilroy-regular);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 40px;
}

@media (min-width: 1024px) {
    .minicart-panel .panels {
        width: 398px;
        position: absolute;
        right: 0;
        top: -19px;
        padding: 0 30px 40px;
        left: unset;
    }

    .minicart-panel.empty .cart-header {
        display: flex;
        height: unset;
    }

    .minicart-panel.empty .cart-header .close {
        top: 18px;
    }

    .minicart-panel .cart-header .close {
        display: block;
        position: relative;
        right: -17px;
        top: -14px;
        width: 22px;
        height: 22px;
        border: 0;
        margin: 0 0 0 auto;
        border-radius: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        background-image: url('../../icons/minicart.svg');
        color: var(--clr-pink);
        font-family: var(--ff-gilroy-regular);
        font-size: 1.2rem;
        padding: 5px 3px 0 0;
        text-align: center;
    }

    .minicart-panel .cart-actions {
        flex-direction: row;
    }
}