/* stylelint-disable no-descending-specificity */

/* fallback font for Gilroy font family */

@font-face {
  font-family: 'Gilroy ExtraBold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.52%;
  descent-override: 29.40%;
  line-gap-override: 0.00%;
  size-adjust: 98.47%;
}

@font-face {
  font-family: 'Gilroy ExtraBold Italic 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.72%;
  descent-override: 29.46%;
  line-gap-override: 0.00%;
  size-adjust: 98.27%;
}

@font-face {
  font-family: 'Gilroy Bold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.50%;
  descent-override: 28.85%;
  line-gap-override: 0.00%;
  size-adjust: 98.00%;
}

@font-face {
  font-family: 'Gilroy SemiBold 600 Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 99.48%;
  descent-override: 28.14%;
  line-gap-override: 0.00%;
  size-adjust: 97.53%;
}

@font-face {
  font-family: 'Gilroy Medium 500 Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 91.96%;
  descent-override: 25.50%;
  line-gap-override: 0.00%;
  size-adjust: 104.92%;
}

@font-face {
  font-family: 'Gilroy Regular 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 91.98%;
  descent-override: 24.89%;
  line-gap-override: 0.00%;
  size-adjust: 104.36%;
}

@font-face {
  font-family: 'Gilroy Light 300 Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 90.93%;
  descent-override: 24.60%;
  line-gap-override: 0.00%;
  size-adjust: 105.58%;
}

@font-face {
  font-family: 'Gilroy UltraLight 200 Fallback';
  font-style: normal;
  font-weight: 200;
  src: local('Arial');
  ascent-override: 89.96%;
  descent-override: 24.34%;
  line-gap-override: 0.00%;
  size-adjust: 106.71%;
}

/* fallback fonts for Zarah font family */

@font-face {
  font-family: 'Zahrah Bold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 76.71%;
  descent-override: 24.76%;
  line-gap-override: 20.29%;
  size-adjust: 98.55%;
}

@font-face {
  font-family: 'Zahrah Bold Italic 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 77.76%;
  descent-override: 25.10%;
  line-gap-override: 20.57%;
  size-adjust: 97.23%;
}

@font-face {
  font-family: 'Zahrah Semibold 600 Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 78.08%;
  descent-override: 25.20%;
  line-gap-override: 20.66%;
  size-adjust: 96.82%;
}

@font-face {
  font-family: 'Zahrah Semibold Italic 600 Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 79.46%;
  descent-override: 25.64%;
  line-gap-override: 21.02%;
  size-adjust: 95.15%;
}

@font-face {
  font-family: 'Zahrah Medium 500 Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 73.24%;
  descent-override: 23.64%;
  line-gap-override: 19.38%;
  size-adjust: 103.22%;
}

@font-face {
  font-family: 'Zahrah Medium Italic 500 Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 74.86%;
  descent-override: 24.16%;
  line-gap-override: 19.80%;
  size-adjust: 100.99%;
}

@font-face {
  font-family: 'Zahrah Regular 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 74.28%;
  descent-override: 23.97%;
  line-gap-override: 19.65%;
  size-adjust: 101.78%;
}

@font-face {
  font-family: 'Zahrah Regular Italic 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 76.19%;
  descent-override: 24.59%;
  line-gap-override: 20.16%;
  size-adjust: 99.22%;
}

@font-face {
  font-family: 'Zahrah Light 300 Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 75.22%;
  descent-override: 24.28%;
  line-gap-override: 19.90%;
  size-adjust: 100.50%;
}

@font-face {
  font-family: 'Zahrah Light Italic 300 Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 77.42%;
  descent-override: 24.99%;
  line-gap-override: 20.48%;
  size-adjust: 97.65%;
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark-pink: #c41b53;
  --clr-dark-grey: #767676;
  --clr-dark-red: #793e4e;
  --clr-red: #ef2f23;
  --clr-dark-blue: #202342;
  --link-color: var(--clr-black);
  --link-hover-color: var(--clr-black);
  --background-color: var(--clr-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--clr-black);
  --clr-grey: #f4f4f4;

  /* fonts */
  --ff-gilroy-xbold: 'Gilroy ExtraBold 700', 'Gilroy ExtraBold 700 Fallback' , sans-serif;
  --ff-gilroy-xbold-italic: 'Gilroy ExtraBold Italic 700', 'Gilroy ExtraBold Italic 700 Fallback', sans-serif;
  --ff-gilroy-bold: 'Gilroy Bold 700', 'Gilroy Bold 700 Fallback', sans-serif;
  --ff-gilroy-semibold: 'Gilroy SemiBold 600', 'Gilroy SemiBold 600 Fallback', sans-serif;
  --ff-gilroy-medium: 'Gilroy Medium 500', 'Gilroy Medium 500 Fallback', sans-serif;
  --ff-gilroy-regular: 'Gilroy Regular 400', 'Gilroy Regular 400 Fallback', sans-serif;
  --ff-gilroy-light: 'Gilroy Light 300', 'Gilroy Light 300 Fallback', sans-serif;
  --ff-gilroy-ultralight: 'Gilroy UltraLight 200', 'Gilroy UltraLight 200 Fallback', sans-serif;
  --ff-zahrah-bold: 'Zahrah Bold 700', 'Zahrah Bold 700 Fallback' , serif;
  --ff-zahrah-bold-italic: 'Zahrah Bold Italic 700', 'Zahrah Bold Italic 700 Fallback', serif;
  --ff-zahrah-semibold: 'Zahrah Semibold 600', 'Zahrah Semibold 600 Fallback', serif;
  --ff-zahrah-semibold-italic: 'Zahrah Semibold Italic 600', 'Zahrah Semibold Italic 600 Fallback', serif;
  --ff-zahrah-medium: 'Zahrah Medium 500', 'Zahrah Medium 500 Fallback', serif;
  --ff-zahrah-medium-italic: 'Zahrah Medium Italic 500', 'Zahrah Medium Italic 500 Fallback', serif;
  --ff-zahrah-regular: 'Zahrah Regular 400', 'Zahrah Regular 400 Fallback', serif;
  --ff-zahrah-regular-italic: 'Zahrah Regular Italic 400', 'Zahrah Regular Italic 400 Fallback', serif;
  --ff-zahrah-light-italic: 'Zahrah Light Italic 300', 'Zahrah Light Italic 300 Fallback', serif;
  --ff-zahrah-light: 'Zahrah Light 300', 'Zahrah Light 300 Fallback', serif;
  --body-font-family: var(--ff-gilroy-regular);
  --heading-font-family: var(--ff-gilroy-bold);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes */
  --body-font-size-m: 2.2rem;
  --body-font-size-s: 1.8rem;
  --body-font-size-xs: 1.4rem;

  /* heading sizes */
  --heading-font-size-xxl: 4.8rem;
  --heading-font-size-xl: 4rem;
  --heading-font-size-l: 3.2rem;
  --heading-font-size-m: 2.4rem;
  --heading-font-size-s: 2rem;
  --heading-font-size-xs: 1.8rem;

  /* nav height */
  --desktop-nav-height: 10rem;
  --nav-height: 6.4rem;

  /* section max width */
  --section-max-width: 720px;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.secondary,
button.secondary {
  font-family: var(--ff-zahrah-semibold-italic);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  min-width: 130px;
  background-color: var(--clr-black);
  border: 1px solid var(--clr-black);
  color: var(--clr-white);
  padding: 10px 20px;
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main .section > div {
  max-width: var(--section-max-width);
}

main .section > div p {
  font-size: 1.6rem;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Section Styles */
.section.center {
  padding: 0 16px;
  margin: 40px 0;
}

.section.center > div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section:is(.accessibility, .privacy-policy, .secure-shopping, .terms-of-use)
h1, h2, h3, h4 {
  font-family: var(--ff-gilroy-light);
}

/* styles for /secure-shopping */
main .section.secure-shopping > div{
  background-color: var(--clr-grey);
  padding: 1.75rem;
}

main .section.secure-shopping h1 {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: .75em;
  margin: 0;
  font-family: var(--ff-gilroy-light);
  font-size: 2rem;
}

/* styles for /accessibility page */
main .section.accessibility h1 {
  font-size: 3.4rem;
  text-transform: none;
  color: #000;
  border-bottom: 1px solid #010101;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

main .section.accessibility h2 {
  font-size: 2.6rem;
  text-transform: none;
  color: var(--clr-black);
  margin: 2rem 0 .5rem;
}

/* styles for /privacy-policy */
main .section.privacy-policy h1{
  font-weight: 400;
  font-size: 3.8rem;
  margin-bottom: 3rem;

}

main .section.privacy-policy ol, main .section.privacy-policy ul {
  padding-left: 1.5rem;
}

main .section.privacy-policy ol li
{
  margin-top: 2em;
  font-size: 1.6rem;
  font-weight: 500;
}

main .section.privacy-policy ul li{
  font-size: 1.6rem;
  font-weight: 500;
}

main .section.privacy-policy strong {
  font-weight: 500;
}

main .section.customer-service > div > p + p a{
  font-size: 1.4rem;
  text-decoration: underline;
}

main .section.privacy-policy a:any-link{
  text-decoration: underline;
  color:var(--clr-black) ;
}

/* styles for /terms-of-use */
main .section.terms-of-use h1{
  font-size: 4.2rem;
  margin: 0 0 2rem;
  color: #333;
}

main .section.terms-of-use  p {
  margin: 1rem auto;
}

main .section.terms-of-use a:any-link{
  text-decoration: underline;
  color: var(--clr-red);
}

main .section.terms-of-use ol li ,main .section.terms-of-use ul li {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

main .section.terms-of-use h3 {
  margin-top: 2em;
  font-size: 1.6rem;
  color: var(--clr-red);
}

/* styles for /customer-service */
main .section.customer-service h1 {
  display: none;
}

main .section.customer-service h4 {
  font-size: 1.25rem;
  font-family: var(--ff-gilroy-light);
}

main .section.customer-service > div > p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

main .section.customer-service > div > p + p img{
  max-width: 1.75rem;
  margin: 0 0.5rem 0 0;
}

.section.shadow {
  background-repeat: no-repeat;
  background-size: cover;
}

.section.shadow > div:first-child {
  gap: 20px;
  padding: 20px 0;
}

.section.shadow > div:first-child p {
  margin: 0;
}

.section.shadow > div:first-child h3 {
  font-family: var(--ff-zahrah-semibold);
  margin: 0;
  font-size: 2.2rem;
  text-decoration: underline;
  letter-spacing: 4px;
}

/* Product List Page */

body.plp main .section {
  font-size: 1.6rem;
  font-family: var(--ff-gilroy-medium);
  font-weight: 500;
}

body.plp main .section h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: var(--ff-gilroy-regular);
}

body.plp main .section h2 {
  color: var(--clr-dark-pink);
  font-size: 4.2rem;
  font-family: var(--ff-gilroy-medium);
  margin-bottom: 0;
}

.section.heading-pink .default-content-wrapper h1,
.section.heading-pink .default-content-wrapper h2 {
  font-family: var(--ff-zahrah-semibold);
  font-size: var(--heading-font-size-l);
  color: var(--clr-dark-pink);
}

main > .section.magic-top {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 30px solid #eb0a8c;
  border-bottom: 15px solid #000;
  padding-top: 15px;
  margin: 0;
}

main > .section.magic-top img {
  width: 75%;
}

main > .section.magic-top h1 {
  font-family: var(--ff-zahrah-semibold);
  font-size: 2.1rem;
  letter-spacing: 4px;
  margin: 0;
}

main > .section.magic-bottom {
  padding: 0;
  margin: 0;
}

main > .section.magic-bottom > .default-content-wrapper:last-child {
  margin: 0;
  padding: 0;
  max-width: unset;
}

main > .section.magic-bottom > .default-content-wrapper:last-child img {
  width: 100%;
  max-width: unset;
  height: 100%;
  min-height: 140px;
  object-fit: cover;
}

main > .section.magic-bottom > div:not(:last-child) {
  border-bottom: 15px solid #000;
  width: auto;
  max-width: unset;
}

@media (min-width: 600px) {
  main:has(.section.magic-bottom) {
    max-width: 1920px;
    margin: 0 auto;
  }

  main .section {
    padding: 64px 32px;
  }

  .section.center {
    padding: 0 32px;
  }

  .section.center > div:first-child {
    flex-direction: row;
  }

  main > .section.magic-top h1 {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 6rem;
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
  }

  .section > div {
    max-width: 1920px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --nav-height: var(--desktop-nav-height);
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* modal dialog styles */
.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  background: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background: #fff;
  padding: 20px;
  text-align: center;
  max-width: 120rem;
  width: 60%;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;

  /* TODO: font-family: 'Gilroy Regular' */
}

.modal-content h1 {
  margin: 10px 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 300;
}

.modal-content button {
  display: block;
  background: #fff;
  border: 1px solid #000;
  width: 44px;
  height: 44px;
  margin: -20px -20px 0 0;
  text-align: center;
  color: #333;
  border-radius: 50%;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 44px;
  font-family: Arial, monospace;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: all .3s ease;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

.modal-content button:hover {
  background: #000;
  color: #fff;
}

.section.centered-text {
  text-align: center;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

@media (min-width: 1024px) {
  :root {
    --heading-font-size-xxl: 6rem;
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
    --section-max-width: 1160px;
  }

  .section > div {
    max-width: var(--section-max-width);
    margin: auto;
  }

  main .section.privacy-policy ol, main .section.privacy-policy ul {
    padding-left: 4rem;
  }
}
