/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fallback font for Gilroy  (normal - 700) */
@font-face {
  font-family: 'gilroy-normal-700-fallback';
  size-adjust: 102.931%;
  src: local('Arial');
}

/* fallback font for Gilroy (normal - 600) */
@font-face {
  font-family: 'gilroy-normal-600-fallback';
  size-adjust: 102.811%;
  src: local('Arial');
}

/* fallback font for Gilroy (normal - 500) */
@font-face {
  font-family: 'gilroy-normal-500-fallback';
  size-adjust: 101.991%;
  src: local('Arial');
}

@font-face {
  font-family: 'Gilroy Medium 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 91.96%;
  descent-override: 25.5%;
  line-gap-override: 0%;
  size-adjust: 104.92%;
}

/* fallback font for Gilroy Regular (normal - 300) */
@font-face {
  font-family: 'gilroy-normal-300-fallback';
  size-adjust: 100.871%;
  src: local('Arial');
}

/* fallback font for Zahrah Bold (normal - 700) */
@font-face {
  font-family: 'zahrah-normal-700-fallback';
  size-adjust: 103.121%;
  src: local('Arial');
}

@font-face {
  font-family: 'Gilroy Regular 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 91.98%;
  descent-override: 24.89%;
  line-gap-override: 0%;
  size-adjust: 104.36%;
}

@font-face {
  font-family: 'Zahrah Semibold Italic 400 Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Times New Roman Italic');
  ascent-override: 66.53%;
  descent-override: 21.47%;
  line-gap-override: 17.6%;
  size-adjust: 113.64%;
}

@font-face {
  font-family: 'Zahrah Bold Italic 700 Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Times New Roman Bold Italic');
  ascent-override: 66.75%;
  descent-override: 21.54%;
  line-gap-override: 17.66%;
  size-adjust: 113.26%;
}

/* fallback font for Zahrah Bold Italic (italic - 700) */
@font-face {
  font-family: 'zahrah-italic-700-fallback';
  size-adjust: 103.121%;
  src: local('Arial');
}

/* fallback font for Zahrah SemiBold (normal - 600) */
@font-face {
  font-family: 'zahrah-normal-600-fallback';
  size-adjust: 102.181%;
  src: local('Arial');
}

/* fallback font for Zahrah SemiBold Italic (italic - 600) */
@font-face {
  font-family: 'zahrah-italic-600-fallback';
  size-adjust: 100.871%;
  src: local('Arial');
}

/* fallback font for Zahrah Medium Italic (italic - 500) */
@font-face {
  font-family: 'zahrah-italic-500-fallback';
  size-adjust: 98.879%;
  src: local('Arial');
}

/* fallback font for Gilroy Bold (normal - normal) */
@font-face {
  font-family: gilroy-bold-normal-normal-fallback;
  size-adjust: 102.931%;
  src: local('Arial');
}

/* fallback font for Gilroy Bold (normal - bold) */
@font-face {
  font-family: gilroy-bold-normal-bold-fallback;
  size-adjust: 102.811%;
  src: local('Arial');
}

@font-face {
  font-family: 'Gilroy Bold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.5%;
  descent-override: 28.85%;
  line-gap-override: 0%;
  size-adjust: 98%;
}

@font-face {
  font-family: 'Zahrah Semibold 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman');
  ascent-override: 65.98%;
  descent-override: 21.3%;
  line-gap-override: 17.46%;
  size-adjust: 114.57%;
}

@font-face {
  font-family: 'Zahrah Regular Italic 400 Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Times New Roman Italic');
  ascent-override: 69.02%;
  descent-override: 22.28%;
  line-gap-override: 18.26%;
  size-adjust: 109.53%;
}

@font-face {
  font-family: 'Zahrah Regular 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman');
  ascent-override: 67.91%;
  descent-override: 21.92%;
  line-gap-override: 17.97%;
  size-adjust: 111.33%;
}

@font-face {
  font-family: 'Zahrah Regular 600 Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Times New Roman Bold');
  ascent-override: 72.13%;
  descent-override: 23.28%;
  line-gap-override: 19.08%;
  size-adjust: 104.81%;
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark-pink: #c41b53;
  --clr-dark-grey: #767676;
  --clr-dark-red: #793e4e;
  --clr-dark-blue: #202342;
  --link-color: var(--clr-black);
  --link-hover-color: var(--clr-black);
  --background-color: var(--clr-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--clr-black);

  /* fonts */
  --body-font-family: 'Gilroy', 'gilroy-normal-700-fallback',
    'gilroy-normal-600-fallback', 'gilroy-normal-400-fallback',
    'gilroy-normal-300-fallback', 'Arial', sans-serif;
  --heading-font-family: 'Zahrah', 'zahrah-normal-700-fallback',
    'zahrah-italic-700-fallback', 'zahrah-normal-600-fallback',
    'zahrah-italic-600-fallback', 'zahrah-italic-500-fallback', 'Arial',
    sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --desktop-nav-height: 100px;
  --nav-height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.secondary,
button.secondary {
  font-family: 'Zahrah Semibold Italic 400',
    'Zahrah Semibold Italic 400 Fallback', serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;
  min-width: 130px;
  background-color: var(--clr-black);
  border: 1px solid var(--clr-black);
  color: var(--clr-white);
  padding: 10px 20px;
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Section Styles */
.section.center {
  padding: 0 16px;
  margin: 40px 0;
}

.section.center > div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section.shadow {
  background-repeat: no-repeat;
  background-size: cover;
}

.section.shadow > div:first-child {
  gap: 20px;
  padding: 20px 0;
}

.section.shadow > div:first-child p {
  margin: 0;
}

.section.shadow > div:first-child h3 {
  font-family: 'Zahrah Semibold 400', 'Zahrah Semibold 400 Fallback', serif;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 4px;
}

.section.heading-pink .default-content-wrapper h1,
.section.heading-pink .default-content-wrapper h2 {
  font-family: 'Zahrah Semibold 400', 'Zahrah Semibold 400 Fallback', serif;
  font-size: var(--heading-font-size-l);
  color: var(--clr-dark-pink);
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }

  .section.center {
    padding: 0 32px;
  }

  .section.center > div:first-child {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  .section > div {
    max-width: 1920px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --nav-height: var(--desktop-nav-height);
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* modal dialog styles */
.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  background: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background: #fff;
  padding: 20px;
  text-align: center;
  max-width: 120rem;
  width: 60%;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  position: relative;

  /* TODO: font-family: 'Gilroy Regular' */
}

.modal-content h1 { /* stylelint-disable-line no-descending-specificity */
  margin: 10px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

.modal-content button {
  display: block;
  background: #fff;
  border: 1px solid #000;
  width: 44px;
  height: 44px;
  margin: -20px -20px 0 0;
  text-align: center;
  color: #333;
  border-radius: 50%;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  font-family: Arial, monospace;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

.modal-content button:hover {
  background: #000;
  color: #fff;
}
