.passwordButton {
    padding: 0;
    border: none;
    color: black;
}

.root_normalPriority {
    padding: 0;
    border: none;
    color: black;
    pointer-events: auto;
}

.root_normalPriority:hover {
   background: none;
}

.root_normalPriority:focus {
    background: none;
}
