.root {

}

.root h1 {
    font-family: var(--ff-gilroy-regular);
    font-size: 4.2rem;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.sectionFlex {
    display: flex;
    gap: 25px;
}

.section {
    flex: 1;
}

.sectionHeader {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #c6c6c6;
    padding: 10px 0;
}

.sectionHeader h2 {
    font-family: var(--ff-gilroy-regular);
    font-size: 2.5rem;
    margin: 0;
}

.sectionHeader a {
    text-decoration: underline;
}

.sectionContent {
    margin-bottom: 50px;
    font-size: 1.6rem;
}

.optionalStreetField {
    display: none;
}

@media (min-width: 1024px) {
}