.actions a {
    cursor: pointer;
}

.actions a:nth-of-type(2) {
    color: var(--clr-pink);
}

.actions a:nth-of-type(n + 2)::before {
    border-left: 1px solid #a6a6a6;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    vertical-align: -1px;
}

.confirmDeleteContainerBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    background: rgb(0 0 0 / 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.confirmDeleteContainer {
    background: #fff;
    padding: 2rem;
    max-width: 500px;
    width: 60%;
    border-radius: 4px;
    font-size: 1.4rem;
    position: relative;
    font-family: var(--ff-gilroy-regular);
    box-shadow: 0 0 12px 2px rgba(0 0 0 / 35%);
}

.confirmDeleteContainerButtons {
    display: flex;
    gap: 15px;
}

.confirmDeleteContainerButtons button {
    margin: 0;
}